body {
  font-family: "OCR A Std", "Menlo", "Andale Mono", courier;
  background: #eee;
  text-align: center;
}
.CodeMirror {
  text-align: left;
  margin: 0 20px;
}
#shortcut-history {
  text-align:left;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 35px;
  left: 540px;
  float: left;
  vertical-align: top;
  font-size: 16px;
  width: 130px;
  height: 46px;
  opacity: 0.5;
}
#shortcut-history li {
  list-style: none;
}
#codecap-preview  {
  margin: 30px auto;
  max-width: 550px;
  position:relative;
}
.playback-line {
  height: 20px;
  background: #ddd;
  position: relative;
  width: 400px;
  margin-left: 10px;
}
.playback-location {
  height: 20px;
  width: 10px;
  position: absolute;
  background: red;
  /*margin-top: -8px;*/
}
.codecap-controls {
  height: 20px;
  text-align: left;
}
.codecap-controls li {
  display: inline-block;
  padding: 0 10px 0 0;
}
.codecap-controls a {
  cursor: pointer;
  text-decoration:none;
  display:inline-block;
  color:black;
}
.codecap-controls a:hover {
  text-decoration:underline;
}