body
  font-family "OCR A Std", "Menlo", "Andale Mono", courier
  background #eee
  text-align center
body.updating-cm .CodeMirror
  display: none
.CodeMirror
  text-align left
a
  text-decoration none
  &:hover
    text-decoration underline
.activeAreaOfBar
  background: rgba(0,0,0,0.1)
  display: inline-block
  height 100%
#panel-right
  text-align left
  position absolute
  padding 0
  margin 0
  top 40px
  left 560px
  float left
  vertical-align top
  font-size 12px
  width 130px
  height 46px
  li
    list-style none
  .btn
    background: white
    color: #05405a 
    font-weight bold
    padding 5px 8px
    display inline-block
    margin-bottom 10px
.branch-timeline
  margin-bottom 10px
  .bar
    height 20px
    background #ddd
    display block
    text-align left
    font-size 10px
    line-height 20px
    box-sizing border-box
    // overflow hidden
    position relative
    &.active
      background-color #bbb
      border-left 4px solid #aaa
    .playbackLocation
      width 2px
  .targetIndicator, .annotation
    position absolute
    display inline-block
    z-index 1
    overflow hidden
    box-sizing border-box
    margin-left -5px
    border-radius 5px
    top 5px
    width 10px
    height 10px
    background-color #9c3000
  .annotation
    background white
    box-shadow 0 0 5px rgba(0,0,0,0.2)
    &.active::after
      content " "
      display block
      width 5px
      height 5px
      border-radius 5px
      background #bbb
      margin 3px

#codecap
  margin 30px auto 30px auto
  max-width 550px
  position relative

  // #codecap-source
.CodeMirror
  // height 150px
  height auto
.CodeMirror-scroll 
  overflow-y: hidden
  overflow-x: auto

.playback-line
  background #ddd
  height 100%
  position relative
  margin-left 29px

.playbackLocation
  height 100%
  width 4px
  position absolute
  background #aaa
  margin-left -1px

.controls
  height 30px
  text-align left
  a
    cursor pointer
    text-decoration none
    display inline-block
    color black
    &:hover
      background #008ac4

.controls-play
  float left
  height 100%
  width 29px
  background #00aaf1
  display inline-block
  position relative
  &::after
    display inline-block
    width 0
    height 0
    border-top 8px solid transparent
    border-bottom 8px solid transparent
    border-left 12px solid white
    position absolute
    top 50%
    left 50%
    margin-left -5px
    margin-top -7px
    content " "

.playing
  .controls-play
    &::after
      display inline-block
      width 10px
      height 10px
      background white
      position absolute
      top 50%
      left 50%
      margin-left -5px
      margin-top -5px
      content " "
      border none

.hidden
  display none !important